* {
  box-sizing: birder-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  background: rgb(182, 235, 206);
  color: rgb(33, 33, 88);
  line-height: 1.5;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.logo img {
  border: 5px solid aliceblue;
  border-radius: 50%;
  width: 170px;
  margin: 20px;
}

.nav-bar .container {
  display: flex;
  background-color: aliceblue;
  color: rgb(33, 33, 88);
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 100%;
  border-top: 50px solid;
}

.logo:nth-of-type(1) {
  align-self: flex-start;
}

.nav-bar .container a {
  color: rgb(33, 33, 88);
  text-decoration: none;
  font-weight: bold;
  background: rgb(182, 235, 206);
  padding: 5px;
  margin: 1px;
}

.nav-bar .nav-menu {
  display: flex;
  max-width: 450px;
  list-style-type: none;
  justify-content: space-between;
  margin: 20px;
  border: 2px solid aliceblue;
}

.nav-bar a:hover {
  color: aliceblue;
  background: rgb(3, 49, 24);
}

header .container {
  display: grid;
  height: 160px;
  background-color: rgb(33, 33, 88);
  grid-template-columns: 1fr 1fr 7fr 2fr;
  grid-template-rows: 1fr;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
}

header .container :nth-of-type(1) {
  grid-column: 3;
  padding: 0px;
  color: aliceblue;
  justify-self: center;
  align-self: center;
}

header .intro {
  margin-bottom: 30px;
  text-align: center;
  color: aliceblue;
}

header a {
	text-decoration: none;
}

header a :hover {
	text-decoration: underline;
}

.container-box {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(200px, auto);
}

/* ABOUT ME PAGE ADDITIONAL STYLIING */

.content-box {
  max-width: 100%;
  background: aliceblue;
  height: auto;
  box-shadow: rgb(33, 33, 88, 0.9) 0px 10px 10px 0px;
  border-radius: 30px;
  padding: 10px 10px 20px 40px;
  margin: 20px;
}

.goals {
  grid-column: 1;
  grid-row: 1;
}

.edu-job {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.box-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-header img {
  margin-right: 10px;
  width: 60px;
}

.skills {
  grid-column: 1;
  grid-row: 2;
}

.hobbies {
  grid-column: 3;
  grid-row: 1;
}

.links {
  grid-column: 3;
  grid-row: 2;
}

.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link-list div {
  margin: 2px
}

footer {
  position: fixed;
  width: 100%;
  height: 20px;
  background: rgb(33, 33, 88);
  color: aliceblue;
  bottom: 0px;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  text-justify: center;
  padding-top: 5px;
}

@media (max-width: 786px) {
  .container-box {
    grid-template-columns: auto;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .goals {
    grid-column: 1;
    grid-row: 1;
  }

  .edu-job {
    grid-column: 1;
    grid-row: 2;
  }

  .skills {
    grid-column: 1;
    grid-row: 3;
  }

  .hobbies {
    grid-column: 1;
    grid-row: 4;
  }

  .links {
    grid-column: 1;
    grid-row: 5;
  }
  
  .link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    margin: 0 auto;
    padding: 0 20px;
  }

  .nav-bar .container {
    display: grid;
    /* height: 100px */
    border-bottom: 70px solid aliceblue;
    border-top: 50px solid;
    justify-content: center;
  }

  .nav-menu {
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
    align-self: center;
  }

  .logo {
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }

  header .container {
    height: 150px;
    padding-top: 100px;
    line-height: 1.2;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  header .container :nth-of-type(1) {
    grid-column: 1;
  }
}

/* CONTACT PAGE ADDITIONAL STYLING */

.form-container {
  padding-left: 200px;
  padding-right: 200px;
  max-width: 504;
  background-color: rgb(182, 235, 206);
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  padding: 20px;
  grid-template-rows: 504px;
}

.form-container img {
  grid-column: 2;
  width: 504px;
  justify-self: right;
}

.form-box {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  justify-self: left;
  padding: 30px;
  display: flex;
  background: rgb(33, 33, 88);
  width: 504px;
  justify-content: center;
  align-items: center;
}

input[placeholder],
textarea[placeholder],
select {
  grid-column: 2 / 3;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 10px;
  padding-top: 2px;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  border: 10px solid rgb(33, 33, 88);
  /* border: 10px */
  background-color: aliceblue;
  justify-content: center;
  color: rgb(33, 33, 88);
}

textarea[placeholder] {
  height: 200px;
  border: 10px solid rgb(33, 33, 88);
  border-radius: 20px;
  /* padding-top: 10px; */
}

select {
  height: 50px;
  width: 200px;
  align-self: center;
  justify-self: center;
  margin-left: 25%;
  margin-top: 0px;
  color: rgb(33, 33, 88);
}

label {
  color: aliceblue;
  font-weight: normal;
  font-size: 14px;
  margin-left: 40%;
  color: rgb(33, 33, 88);
}

button {
  background: rgb(123, 123, 214);
  color: white;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button:hover {
  background: aliceblue;
  color: rgb(33, 33, 88);
}

@media (max-width: 786px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container img {
    width: 504px;
  }

  .form-box {
    width: 444px;
  }
}

/* REGISTER PAGE ADDITIONAL STYLING */

#selectGender {
  margin-left: 0%;
  width: 108%;
}

#register-form {
  height: 601px;
}

.register-btn {
  margin-left: 140px;
}

/* LOGIN PAGE ADDITIONAL STYLING */

.login-btn {
  margin-left: 160px;
}

#login-page {
  height: 300px;
  border-radius: 20px;
}

/* LOGIN PAGE ADDITIONAL STYLING */

.login-container {
  padding-left: 200px;
  padding-right: 200px;
  max-width: 504;
  background-color: rgb(182, 235, 206);
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  padding: 20px;
}

div .alt-register,
div .alt-login {
  margin-left: 40px;
  justify-self: center;
  align-self: center;
}

.alt-register a,
.alt-login a {
  color: red;
  text-decoration: none;
}

.alt-register a:hover {
  color: white;
}

CALCULATOR PAGE ADDITIONAL STYLING .calc-container {
  padding-left: 200px;
  padding-right: 200px;
  max-width: 504px;
  background-color: rgb(182, 235, 206);
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.calcDisplay {
  width: 396px;
  height: 100px;
  font-size: 40px;
  border: 5px;
  border-style: inset;
  border-radius: 5px;
  background-color: aliceblue;
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.button {
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-family: Tahoma;
  font-weight: bold;
  color: rgb(33, 33, 88);
  border: 0px;
}

tbody {
  display: flex;
}
